/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #F2FEF8 !default;
$text-color: #181C1A !default;
$muted-text-color: #002C15 !default;
$primary-color: #00B358 !default;
$border-color: mix(#fff, #002C15, 75%) !default;
$footer-background-color: #00FF7D !default;
$link-color: #00B358 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
